.container-bg-img-falcon9 {
  background-image: url('../../imagens/falcon9/01.jpg');
}

.container-bg-img2-falcon9 {
  background-image: url('../../imagens/falcon9/02.jpg');
}

.container-bg-img3-falcon9 {
  background-image: url('../../imagens/falcon9/03.jpg');
}

.container-bg-img4-falcon9 {
  background-image: url('../../imagens/falcon9/04.jpg');
}

.container-bg-img5-falcon9 {
  background-image: url('../../imagens/falcon9/05.jpg');
}

.container-bg-img6-falcon9 {
  background-image: url('../../imagens/falcon9/06.jpg');
}

.container-bg-img7-falcon9 {
  background-image: url('../../imagens/falcon9/07.jpg');
}

.container-bg-img8-falcon9 {
  background-image: url('../../imagens/falcon9/08.jpg');
}

.container-bg-img9-falcon9 {
  background-image: url('../../imagens/falcon9/09.jpg');
}

.container-bg-img10-falcon9 {
  background-image: url('../../imagens/falcon9/10.jpg');
}

.container-bg-img11-falcon9 {
  background-image: url('../../imagens/falcon9/11.jpg');
}

.container-bg-img12-falcon9 {
  background-image: url('../../imagens/falcon9/12.jpg');
}

.container-bg-img13-falcon9 {
  background-image: url('../../imagens/falcon9/13.jpg');
}

.container-bg-img14-falcon9 {
  background-image: url('../../imagens/falcon9/14.jpg');
}

.container-title-falcon9 {
  min-height: 80vh;

  .title-falcon9 {
    font-size: 90px;
    color: $color-description;
    font-weight: 750;
    font-family: sans-serif;
  }
  
  .subtitle-falcon9 {
    font-size: 20px;
    color: $color-description;
    font-weight: 750;
  }
}

.container-numbers {
  min-height: 320px;
  background-color: black;
  .number {
    font-size: 90px;
    color: $color-description;
  }
  .description-number {
    font-size: 18px;
    color: $color-description;
  }
}

.falcon-description {
  text-align: start;
  .text-falcon-description {
    font-size: 22px;
    color: $color-description;
    line-height: 50px;
    width: 57%;
  }
}

#carouselExampleCaptions {
  min-width: 320px;
}

  .table, .description-carousel, .first-sentence, .title-carousel{
    font-size: 16px;
    color: $color-description;
    width: 500px;
  }

  .title-carousel {
    font-size: 27px;
  }

  .container-carousel {
    padding-top: 200px;
  }

  .container-info {
    background-color: black;
    height: 705px;
    p {
      color: $color-description;
    }

    button {
      border: 2px solid;
      margin-right: 10px;
    }
  }

  @media (max-width: 768px) {
    .table, .description-carousel, .title-carousel {
      width: 100%;
    }

    .falcon-description {
      text-align: center;
      .text-falcon-description {
        width: 100%;
      }
    }
  }

  @media (max-width: 550px) {
    .container-title-falcon9 {
      .title-falcon9 {
        font-size: 30px;
    }
      .subtitle-falcon9 {
        font-size: 10px;
    }
    }

    .falcon-description {
      .text-falcon-description {
        font-size: 12px;
      }
    }

    .table, .description-carousel, .first-sentence, .title-carousel {
      font-size: 12px;
    }

    .title-carousel {
      font-size: 18px;
    }

    .container-info {
      .container-btn-info {
     display: flex;
     flex-direction: column;
     align-items: center;
    }

    button {
      margin: 0px 0px 10px 0px;
      padding: 10px;
      font-size: 12px;
      width: 280px;
    }
  }
  .container-numbers {
    .number {
      font-size: 50px;
    }
    .description-number {
      font-size: 12px;
    }
  }
}